@page "/category/{categoryName}"
@model QCVault.Pages.Category.SelectedCategoryModel
@{
    ViewData["Title"] = Model.CategoryName;
}

@section head
{
    <meta property="og:title" content="The Motte Vault - @Model.CategoryName" />
    <meta property="og:description" content="@Model.CategoryText" />
    <meta property="og:image" content="https://picsum.photos/seed/@Model.CategoryName/1200/630" />
}

<h1 class="category-title">
    @Model.CategoryName
</h1>

<p class="category-text">
    @Model.CategoryText
</p>

<vc:post-list post-List="Model.Posts" />
