/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

h1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

blockquote {
    background-color: #f8f8ff;
    border-left: 4px solid #88b;
    padding: 1em 1em 1em 1em;
}
blockquote p:last-child {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-left: 4rem;
    padding-right: 0rem;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* PostList layout
-------------------------------------------------- */

.post-list {
  max-width: 800px;
  margin: auto;
  color: #333;
}

.post-list a:link {
  color: #333;
}

.post-list a:visited {
  color: #555;
}

.post-list a:hover {
  color: #338;
}

.post-list-element {
  display: grid;
  grid-template-rows: auto;

  margin: 70px 0px 70px 0px;
  grid-row-gap: 5px;
  grid-column-gap: 20px;
}

.post-list-element .thumbnail {
  grid-area: thumbnail;
}

.post-list-element .thumbnail img {
  max-height: 100%;
  max-width: 100%;

  outline: 1px solid rgba(0, 0, 0, 0.2);
  outline-offset: -1px;
}

.post-list-element .title {
  grid-area: title;
}

.post-list-element .title a {
  font-size: 1.6rem;
  font-weight: 500;
}

.post-list-element .metadata {
  grid-area: metadata;
  text-align: right;
  font-weight: 300;
}

.post-list-element .metadata .author {
  font-size: 1.2rem;
}

.post-list-element .metadata .divider {
  font-size: 1.2rem;
  color: #aaa;
}

.post-list-element .metadata .date {
  font-size: 1.2rem;
  color: #aaa;
}

.post-list-element .tags {
  grid-area: tags;
}

.post-list-element .tag {
  display: inline-block;
  margin: 4px 2px;
  padding: 3px 10px;

  border-radius: 40px;

  font-size: 0.8rem;
  text-align: center;
}

.tag-coteries {
  background-color: #fee;
}

.tag-culture {
  background-color: #fef;
}

.tag-personal {
  background-color: #fdd;
}

.tag-knowledge {
  background-color: #dfd;
}

.tag-economics {
  background-color: #eff;
}

.tag-civilization {
  background-color: #ffe;
}

.tag-moloch {
  background-color: #efe;
}

.tag-media {
  background-color: #eef;
}

.tag-flux {
  background-color: #eee;
}

/* CategoryList layout
-------------------------------------------------- */

.category-list {
  max-width: 800px;
  margin: auto;
}

.category-list .category {
  margin: 2rem;
  padding: 2rem;

  border-radius: 1rem;
}

.category-list .category-title {
  margin-top: 0;
}

.category-list a:link {
  color: #333;
}

.category-list a:visited {
  color: #555;
}

.category-list a:hover {
  color: #338;
  text-decoration: none;
}

.category-list a:hover .category-title {
  text-decoration: underline;
}


/* SelectedCategory layout
-------------------------------------------------- */

.category-title {
  font-size: 2rem;
  text-align: center;
}

main > .category-title {
  margin: 2rem;
  margin-top: 4rem;
}

.category-text {
  font-family: Spectral, serif, "Segoe UI", sans-serif;
  font-size: 1.2rem;
  line-height: 2.2rem;

  margin: auto;
  max-width: 750px;
}

/* Main article size-adjusting layout
-------------------------------------------------- */

/* smallest size */
@media (min-width: 0px) {
  .post-list-element {
    grid-template-columns: 80px auto;
    grid-template-areas:
        "thumbnail title"
        "thumbnail tags"
        "metadata metadata";
  }

  .post-list-element .metadata .author {
    font-size: 1.2rem;
    display: inline;
  }

  .post-list-element .metadata .divider {
    font-size: 1.2rem;
    display: inline;
  }

  .post-list-element .metadata .date {
    font-size: 1.2rem;
    display: inline;
  }
}

@media (min-width: 500px) {
  .post-list-element {
    grid-template-columns: 160px auto;
    grid-template-areas:
        "thumbnail title"
        "thumbnail tags"
        "metadata metadata";
  }

  .post-list-element .thumbnail {
    display: block;
  }
}

/* desktop size */
@media (min-width: 768px) {
  .post-list-element {
    grid-template-columns: 160px auto auto;
    grid-template-areas:
      "thumbnail title metadata"
      "thumbnail tags metadata";
  }

  .post-list-element .metadata .author {
    font-size: 1.2rem;
    display: block;
  }

  .post-list-element .metadata .divider {
    display: none;
  }

  .post-list-element .metadata .date {
    font-size: 1.0rem;
    display: block;
  }
}

/* Post layout
-------------------------------------------------- */

.post {
  max-width: 800px;
  margin: auto;
  color: #333;
}

.post .header .image {
  width: 100%;
  object-fit: contain;

  outline: 2px solid rgba(0, 0, 0, 0.2);
  outline-offset: -2px;
}

.post .credit {
  font-size: 1.2rem;
  color: #888;
  font-weight: 300;
}

.post .header {
  margin-bottom: 3rem;
}

.post .header .title {
  margin-bottom: 0.1rem;
}

.post .header .addendum {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 2rem;
}

.post .header a:link, .post .header a:visited {
  color: #888;
}

.post .header a:hover {
  color: #88f;
}

.post .body {
  font-family: Spectral, serif, "Segoe UI", sans-serif;
  font-size: 1.2rem;
  line-height: 2.2rem;
}

.post .cta {
  margin: 4rem auto 4rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.post .cta .join {
  font-size: 1.6rem;

  /*background-color: #224;
  border-color: #224;
  color: #fff;*/
  background-color: #eef;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-bottom: 2rem;

  border-style: solid;
  border-radius: 5px;
  border-color: #eef;
  stroke-width: 4px;
}

.post .cta .share {
  font-size: 1.4rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.post .cta .share > div {
  margin: 0 0.5rem 0 0.5rem;
}

/* Sharing buttons
-------------------------------------------- */

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.25em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.25rem 0.5rem;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 0.75rem;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
  border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #3a80c1;
  border-color: #3a80c1;
}
