@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>There is a community on the Internet with the following guidelines.</p>

<blockquote>
    <p>The purpose of this community is to be a working discussion ground for people who may hold dramatically different beliefs. It is to be a place for people to examine the beliefs of others as well as their own beliefs; it is to be a place where strange or abnormal opinions and ideas can be generated and discussed fairly, with consideration and insight instead of kneejerk responses.</p>

    <p>All of the community's rules must be justified by this foundation.</p>
</blockquote>

<p>Sometimes, people in this community post things that are interesting. We collect them as Quality Contributions and make a thread about them. Up until recently, we would then forget about them entirely.</p>

<p>We've gone back through our archives, re-collected them all, and put them here. This is partly in an attempt to get them more well-deserved attention; it is also partly in an attempt to convince you, the reader, to <a href="https://www.themotte.org">join the community</a>.</p>

<p>If you think these posts are interesting; if you think the guidelines listed above are what you've always wanted in a debate and discussion community; if you think you have something to contribute, or even if you don't; then drop on by and say hello.</p>