@page "/post/{title}"
@model PostModel

@using Microsoft.AspNetCore.Mvc.RazorPages;
@{
    ViewData["Title"] = Model.Post.Title;
}

<div class="post">
    <div class="header">
        <h1 class="title">@Model.Post.Title</h1>
        <div class="credit">
            <span class="author">@Model.Post.Author</span> - <a class="original" href="https://www.reddit.com/@(Model.Post.Link.Trim('/'))">[original thread]</a>
        </div>

        <img class="image" src=@($"https://picsum.photos/seed/{Model.Post.URLSlug}/1024/768")>
    </div>

    <div class="body">
        @Html.Raw(Model.Post.BodyCompiled)
    </div>

    <div>
        <div class="fb-share-button"
             @*data-href=@(Microsoft.AspNetCore.Http.Extensions.UriHelper.GetDisplayUrl(Request))*@
             data-href=@Microsoft.AspNetCore.Http.Extensions.UriHelper.GetDisplayUrl(Request)
             data-size="large"
             data-layout="button">
        </div>
    </div>

    <div class="join">
        <p><a href="https://www.themotte.org">Join the Community</a></p>
    </div>
</div>
